* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: hidden;
}

.container {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    order: 4;
    position: relative;
}

.content {
    justify-content: center;
    margin-right: auto;
    width: 100%;
    margin-top: 32px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
    margin-left: auto;
    padding-bottom: 32px;
    vertical-align: baseline;

}

.img-content {
    margin-bottom: 12px;
    align-self: center;
    flex-basis: 380px;
    margin-right: 32px;
    display: block;
}

.login-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.form-content {
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
}

.input-content {
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
    overflow-y: visible;
    margin-top: 24px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
}

.login-button,
.input-box,
.another-option,
.forgot-pass {
    overflow-y: visible;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-left: 40px;
    margin-top: 8px;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    margin-right: 50px;
    margin-bottom: 8px;
}

.input-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgrey;
    background: whitesmoke;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

::-webkit-input-placeholder {
    color: gray;
    font-size: 11.6px;
}

.login-button button {
    width: 108%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #00a2ed;
    outline: none;
    font-size: 1em;
    font-weight: 700;
}

.option-content {
    margin: 10px 40px 18px;
}

.option {
    display: flex;
    flex-direction: row;
}

.right-line,
.left-line {
    background-color: lightgray;
    top: .45em;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    flex-grow: 1;
    display: block;
}

.text-mid {
    text-transform: uppercase;
    margin-right: 18px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-left: 18px;
    font-weight: 600;
    color: gray;
    align-items: stretch;
    font-size: .8125rem;
    position: relative;
    line-height: 1.2;
    flex-grow: 0;
    vertical-align: baseline;
}

.another-option button {
    border: none;
    background-color: transparent;
}

.fb-ico,
.fb {
    border: none;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 20px;
    width: 20px;
}

.fb-text {
    text-align: center;
    font-weight: 500;
    color: #385185;
}

.forgot-pass a {
    font-size: 12px;
    color: #385185;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    padding-left: 0;
    background-color: transparent;
    touch-action: manipulation;
    box-sizing: border-box;
    cursor: pointer;
}

.no-acc {
    font-size: 14px;
    text-align: center;
}

p a {
    font-weight: 500;
    text-decoration: none;
    color: #00a2ed;
    display: inline;
    background-color: transparent;
    text-align: inherit;
    touch-action: manipulation;
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.App {
    display: flex;
    flex-direction: column;
}

.get-app {
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    vertical-align: baseline;
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 10px 0;
}

footer,
.credit-div {
    font-size: 100%;
    padding-top: 0;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    align-items: stretch;
    position: relative;
    order: 5;
    vertical-align: baseline;

}

.credit-div,
.credit {
    overflow-y: visible;
    margin-bottom: 10px;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
}

.credit, .Settings {

    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.credit a, .Settings {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    align-self: auto;
    justify-content: flex-start;
    margin-left: 8px;
    margin-right: 8px;
}

.Settings {
    line-height: 0;
    justify-content: center;
    vertical-align: baseline;
}
